<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="iPhoneX.png"
                     srcset="iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">
                <form action="">
                  <p class="the-form__title heading3">
                    Solicita una demo
                  </p>
                  
                  <div class="the-form__group">
                    <label for="name">
                      Nombre
                    </label>
                    <input type="text"
                          id="name"
                          class="the-form__input"
                          placeholder="Vincent Chase">
                  </div>

                  <div class="the-form__group">
                    <label for="name">
                      Email
                    </label>
                    <input type="email"
                          id="name"
                          class="the-form__input"
                          placeholder="vincent@mga.com">
                  </div>

                  <div class="the-form__group">
                    <label for="city">
                      Ciudad
                    </label>
                    <select name=""
                            id="city"
                            class="the-form__input the-form__select">
                      <option value="">Madrid</option>
                      <option value="">Puerto Hurraco</option>
                      <option value="">Villabolluyos</option>
                    </select>
                  </div>

                  <div class="the-form__group the-form__group_checkbox">
                    <input type="checkbox"
                          id="privacity">
                    <label for="privacity">
                      Aceptas la <a href="#">política de privacidad</a>
                    </label>
                  </div>

                  <input type="button"
                        class="the-form__btn btn btn-lg btn-primary"
                        value="Enviar">
                </form>
              </div>
            </div>
          </div>
        </section>

        <section class="opinions">
        </body>